* {
  margin: 0;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}


/* Header and Nav ******************************************************/
.header, .main, .footer {
    width: 100%;
}

.header{
     background-color: #283044;
     height: 200px;
}

.header ul{
    text-align: center;
    padding-top: 50px;
    border-bottom: 1px solid #000;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 10px;

}

.header ul li{
    display: inline;
    text-align: center;
    padding-right: 40px;
    font-size: 25px;
    color: #FF4242;


}







/* Main Body ***********************************************************/
.main{
    //background-color: blue;
    height: 400px;
}

.main h1{
    text-align: center;
}

.main article{
    text-align: center;
}



#section2 {
    background-color: #97EAD2;
    height: 800px;
    width: 100%;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin-bottom: 50px;
}




/* Footer **************************************************************/
.footer{
    background-color: #283044;
    height: 600px;
    color: white;

}

#footerUL {
    padding-left: 0;
    border-bottom: 1px solid white;

}

.footerRows {
    display: inline-block;
    list-style-type: none;
    width: 25%;
    height: 200px;
    margin-top: 20px;


}

#list1 {
    margin-left: 12.5%;
    vertical-align: top;


}

#list2 {
    vertical-align: top;


}

#list3 {
    vertical-align: top;

}

#list2 ul li {
    list-style-type: none;
}

.footer h2 {
    text-transform: uppercase;
    padding-left: 15px;
    color: #FF4242;

}

.footer p {
    font-size: .75em;
    line-height: 1.75em;
    margin: 0;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    color: #CFFCFF;
}

.social {
    padding-left: 15px;
    line-height: 2em;
    color: #97EAD2;
    display: block;
    text-decoration: none;

}

.social span {
    padding-left: 10px;


}




/*
@media (min-width: 600px) {
    .header {
        width: 100%;
        -webkit-order: 2;
        order: 1;
    }

    .main {
        width: 100%;
        -webkit-order: 1;
        order: 2;
    }

    .footer {
        width: 100%;
        -webkit-order: 3;
        order: 3;
    }
}


@media (min-width: 800px) {
    .header {
        width: 100%;
    }

    .main {
        width: 100%;
    }
}
*/