/*  font-family: 'Montserrat', sans-serif;


  #e85a71
  #d8e9ef
  #4ea1d3
  #454552

*/

* {
  margin: 0;
}

p {
        font-size: 18px;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: #FF4242;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

}


/* Header and Nav ******************************************************/
.header, .main, .footer {
    width: 100%;
}

.header {
     background-color: #3F4045;
     height: 4em;
}

.header ul{
    text-align: center;
    padding-top: 1em;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-bottom: .5em;

}

.header ul li {
    display: inline;
    text-align: center;
    padding-right: 40px;
    font-size: 20px;
    color: #7FEFBD;
    text-transform: uppercase;

}


/* Main Body ***********************************************************/
.main{
    height: 42em;
    width: 100%;
    color: black;
    border-top: 1px solid white;
}

#mainParagraph {
        width: 60%;
        margin: auto;
        padding-top: 2em;
        padding-bottom:  2em;
}

#intro {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5em;

}

#headshot {
        margin: auto;
        border-radius: 20em;
        height: 30%;
        width: 30%;
         box-shadow: 3px 3px 3px #888888;
}

.main h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-size: 2.7777777778em;
    line-height: 1.174em;
    margin-top: 1em;

}

.main article{
    text-align: center;

}


/* Portfolio Section **************************************************************************************************/

#portfolio {
        width: 100%;
        height: 800px;
}

#portfolioH2 {
        margin: auto;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        letter-spacing: -5px;
        font-size: 2.7777777778em;
        line-height: 1.174em;
        text-align: center;
        color: black;
        padding-top: 20px;


}

#portfolioProjects {
        margin-left: 12.5%;
        margin-top: 1em;
}

#portfolioProjects li {
        display: inline-block;
}

.imgWrap {
  position: relative;
  height: 300px;
  width: 300px;
}

.imgDescription {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
 padding-top: 40%;
  text-align: center;
  font-size: 1.2em;
}

.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}

/* Contact Form  ******************************************************/

#formSection {
    height: 32em;
    width: 100%;
    background-color: #FF4242;
    border-top: 1px solid white;
}



#formSection h2 {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-size: 2.7777777778em;
    line-height: 1.174em;
    text-align: center;
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;

}

form {
        max-width: 450px;
        margin: 0 auto 50px;

}

input, textarea {
        border: 3px solid #283044;
        width: 100%;
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
}

#formButton {
        background: #283044;
        color: white;
        font-size : 18px;
        text-transform: uppercase;
        width: 33%;
}

#formButton:hover {
        background:  #97EAD2;;
}

.submit-wrap {
        text-align: right;
}

input:focus,  textarea:focus {
        outline: none;
        border-color: #97EAD2;
}

textarea {
        height: 10em;
        font-size: 16px;
        font-weight: bold;
}


.contact-info-group label{
        width: 50%;
        /*padding-right: 10px;*/
        float: left;
        box-sizing: border-box;
}


label {
        display: block;
        margin-bottom: 20px;
}

form span {
        display: block;
        font-size: 1.1em;
        color: white;
        padding-bottom: .3em;
}

/* Footer **************************************************************/
.footer{
    border-top: 1px solid white;
    background-color: #3F4045;
    height: 16em;
    color: #454552;

}

#footerUL {
    padding-left: 0;

}

#footerUL li {
    list-style-type: none;

}

.footerRows {
    display: inline-block;
    list-style-type: none;
    width: 25%;
    height: 9em;
    margin-top: 20px;
    padding-bottom: 10px;

}

.footerRows h2{
    padding-bottom: 10px;
}

#list1 {
    margin-left: 12.5%;
    vertical-align: top;

}

#list2 {
    vertical-align: top;

}

#list3 {
    vertical-align: top;

}

#list3 ul {
    padding-left: 15px;
    color: #4ea1d3;
    font-size: .8em;
    line-height: 1.75em;

}

#list2 ul li {
    list-style-type: none;
}

.footer h2 {
    text-transform: uppercase;
    padding-left: 15px;
    color: #FF4242;

}

.footer p {
    font-size: .8em;
    line-height: 1.75em;
    margin: 0;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.social {
    padding-left: 15px;
    line-height: 2em;
    color: #97EAD2;
    display: block;
    text-decoration: none;

}

.social span {
    padding-left: 10px;
}


.copyrightContainer {
    width: 100%;
}

.copyright {
    border-top: 1px solid white;
    margin-top: 20px;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;

}

.copyright p {
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: -14px;
    padding-top: 5px;
}


.menuFooter li a {
    display: inline-block;
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    padding-right: 5px;
    padding-top: 10px;
    color: #FF4242;
    text-decoration: none;

}

 li a:hover {
    color: white;
}

.footer h2 {
    font-size: 18px;
}














/********************************************* Media Queries *****************************************************************************/
