/*  font-family: 'Montserrat', sans-serif;


 red #e85a71
 gray #d8e9ef
 blue #4ea1d3
 black #454552

*/



* {
  margin: 0;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: #FF4242;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

}

img:hover {
    background-color: red;
}




/* Header and Nav ******************************************************/
.header, .main, .footer {
    width: 100%;
}

.header {
     background-color: #454552;
     height: 4em;
}

.header ul{
    text-align: center;
    padding-top: 1em;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-bottom: .5em;

}

.header ul li {
    display: inline;
    text-align: center;
    padding-right: 40px;
    font-size: 20px;
    color: #FF4242;
    text-transform: uppercase;

}







/* Main Body ***********************************************************/
.main{
    height: 15em;
    width: 100%;
    color: black;
    border-top: 1px solid white;


}


#intro {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3em;
}

.main h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-size: 2.7777777778em;
    line-height: 1.174em;

}

.main article{
    text-align: center;

}




/* Portfolio Section **************************************************************************************************/
#portfolioSection {
    width: 100%;
    height: 800px;
    border-top: 1px solid white;

}

#portfolioH2 {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-size: 2.7777777778em;
    line-height: 1.174em;
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom: 10px;
}

#portfolioRow1 li{
    display: inline-block;

}

#portfolioRow1 {
    margin-left: 12.5%;
    margin-right: 12.5%;
    padding-top: 10px;
    padding-left: 26px;

}

/*#wrapper p {
    position: relative;
    bottom: 50px;
    left: 0px;
    visibility: hidden;
}*/

/*#wrapper h3 {
    position:relative;
    bottom:60px;
    left:0px;
    visibility:hidden;
}*/

.projectInfoClass {
    background-color: #454552;
    color: #FF4242;
    visibility: hidden;
    position: relative;
    bottom: 65px;
    left: 0px;
    height: 60px;

}

.projectInfoClass h3 {
    text-transform: uppercase;
    font-size: 1em;
    padding-top: .5em;
    padding-left: .5em;
}

.projectInfoClass p {
    padding-top: .5em;
    padding-left: .5em;
}

/* Contact Form  ******************************************************/

#formDiv {
    height: 30em;
    width: 100%;
    background-color: #FF4242;
    border-top: 1px solid white;
}



#formDiv h2 {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: -5px;
    font-size: 2.7777777778em;
    line-height: 1.174em;
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
}

.form {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;


}

#formDiv form input {
    display: block;
    font-size: 1.2em;
    width: 100%;


}


.formBox {
    width: 50%;
    margin: auto;

}

.formBox input {
    background-color: snow;

}

.formBox textarea {
    width: 100%;
    font-size: 1.2em;
}

.formBox button {
    width: 100%;
    height: 3em;
    background-color: snow;
}



/* Footer **************************************************************/
.footer{
    border-top: 1px solid white;
    background-color: #454552;
    height: 16em;
    color: #454552;

}

#footerUL {
    padding-left: 0;


}

#footerUL li {
    list-style-type: none;

}

.footerRows {
    display: inline-block;
    list-style-type: none;
    width: 25%;
    height: 9em;
    margin-top: 20px;
    padding-bottom: 10px;


}

.footerRows h2{
    padding-bottom: 10px;
}

#list1 {
    margin-left: 12.5%;
    vertical-align: top;


}

#list2 {
    vertical-align: top;


}

#list3 {
    vertical-align: top;

}

#list3 ul {
    padding-left: 15px;
    color: #4ea1d3;
    font-size: .8em;
    line-height: 1.75em;

}

#list2 ul li {
    list-style-type: none;
}

.footer h2 {
    text-transform: uppercase;
    padding-left: 15px;
    color: #FF4242;

}

.footer p {
    font-size: .8em;
    line-height: 1.75em;
    margin: 0;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
}

.social {
    padding-left: 15px;
    line-height: 2em;
    color: #97EAD2;
    display: block;
    text-decoration: none;

}

.social span {
    padding-left: 10px;


}


.copyrightContainer {
    width: 100%;
}

.copyright {
    border-top: 1px solid white;
    margin-top: 20px;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;

}

.copyright p {
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: -14px;
    padding-top: 5px;
}

.menuFooter {


}

.menuFooter li a {
    display: inline-block;
    float: right;
    text-transform: uppercase;
    font-size: 14px;
    padding-right: 5px;
    padding-top: 10px;
    color: #FF4242;
    text-decoration: none;

}

li a:hover {
    color: white;
}

.footer h2 {
    font-size: 18px;
}














/********************************************* Media Queries *****************************************************************************/

